* {
    margin: 0;
}

body {
    background-size: cover;
	background-position: center;
}

.main {
    padding: 50px;
	background-color: #06C9C3;
}

img {
    width: 400px;
    margin: 5px;
    border-radius: 8px;
}

.herbWarszawy {
	width: 50px;
	height: 65px;
    margin: 5px;
	cursor: pointer;
	background-size: contain;
	margin-top: -20px;
}

figcaption {
    color: black;
    font-weight: 700;
	font-size: 20px; 
}

p {
    font-size: 20px;
}

figcaption {
    text-align: center;
}

.deskr {
    margin: 20px;
}

.deskr h1 {
    color: red;
    margin-bottom: 19px;
} 

.logo {
	background-color: #06C9C3;
	font-family: 'Rubik Iso', cursive;
	font-size: 50px;
	text-align: center;
}


.menu {
    text-decoration: none;
    font-family: 'Rubik Iso', cursive;
}

.btn-sub {
    float: right;
    margin: 14px;
    padding: 10px;
    background-color: #d60019;
    color: #ffffff;
    border-radius: 20px;
    border: 1px solid #d60019;
    cursor: pointer;
}
button:hover{
	cursor: pointer;
	color: #61010D;
}

.nav-link a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 20px;
}

.nav-link a:hover {
    color: grey;
    font-size: 16px;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 20px;
}
